@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
margin: 0;
padding: 0;
}

body {
background-color: #fafafa;
}

/*-----------------------------------------------------------------------------------------------*/

.shadow {  
border-radius: 10px;
box-shadow: 3px 3px 7px #878787;
}

.text {
color: black;
font-family: 'Roboto', sans-serif;
font-size: 28px;
padding-top: 6px;
padding-left: 10px;
}

.subtext {
color: #6D6D6D;
font-family: 'Roboto', sans-serif;
font-size: 22px;
padding-top: 0.5px;
padding-left: 14px;
}

.subsubtext {
color: #8C8C8C;
font-family: 'Roboto', sans-serif;
font-size: 18px;
padding-top: 2px;
padding-left: 20px;
}

.text:hover {
color: #689A8F;
transition: all .2s;
}

.subtext:hover {
color: #689A8F;
transition: all .2s;
}

.subsubtext:hover {
color: #689A8F;
transition: all .2s;
}

h1 {
  font-family: 'Roboto', sans-serif;
}

::selection {
  background-color: #00d9ff1A;
  color: #1ccce6;
}